In [25]:
import pandas as pd

In [32]:
df= pd.read_csv('../Data/GSPC.csv')

In [33]:
df.head()

         Date   Open   High    Low  Close  Adj Close   Volume
0  1950-01-03  16.66  16.66  16.66  16.66      16.66  1260000
1  1950-01-04  16.85  16.85  16.85  16.85      16.85  1890000
2  1950-01-05  16.93  16.93  16.93  16.93      16.93  2550000
3  1950-01-06  16.98  16.98  16.98  16.98      16.98  2010000
4  1950-01-09  17.08  17.08  17.08  17.08      17.08  2520000

In [35]:
df=df.drop('Date', axis=1)

In [36]:
df.head()

    Open   High    Low  Close  Adj Close   Volume
0  16.66  16.66  16.66  16.66      16.66  1260000
1  16.85  16.85  16.85  16.85      16.85  1890000
2  16.93  16.93  16.93  16.93      16.93  2550000
3  16.98  16.98  16.98  16.98      16.98  2010000
4  17.08  17.08  17.08  17.08      17.08  2520000